

.container{
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
    flex-wrap: wrap;
    
}

#jumbo_film, .film_aside{
    position: relative;
    max-height: 412px;
    
}

#jumbo_film> .card{
    position: relative;
    height: 100%;
    display: none;
}


#jumbo_film> .card.active{
    display: block;
}


.card > img{
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover; 
         
}




.card .caption{
    position: absolute;
    bottom: 0;
    left:0;

    text-align: right;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}




.picture_film{
    position: relative;
    height: calc(100% / 5);
}


.picture_film> img{
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
    cursor: pointer;
    
}


.film_aside> button{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); 

    border-radius: 50%;
    aspect-ratio: 1;

    display: none;
}

.film_aside:hover > button{
    display: block;

}

#button_up{
    top: 40px;
}

#button_down{
    top: 370px;
}


.border.selected{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    cursor: pointer;
    
    box-shadow: inset 0 0 0 10px white;
}


#progressive_bar{
   
    height: 5px;
    width: 100%;
    background-color: lightgray;
}