

.container{
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
    
}

.jumbo_film, .film_aside{
    position: relative;
    max-height: 412px;
    
}

.jumbo_film > img{
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
}


.jumbo_film> .caption{
    position: absolute;
    bottom: 0;
    left:0;

    text-align: right;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}




.picture_film{
    height: calc(100% / 5);
}


.picture_film> img{
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;

}

